{% extends 'pages/base.html' %}

{% block title %}
HomePage - Da Nonna Paola
{% endblock %}

{% block content %}
<main>
    <section class="hero">
        <div class="hero-h1">
            <h1>Benvenuti da Nonna Paola</h1>
        </div>
        <div class="hero-p">
            <p>Scopri nuove idee per ogni occasione</p>
        </div>
    </section>
    <div class="recipes-section" style="margin-bottom:20px; margin-top:30px;">
        <div class="d-flex justify-content-between align-items-center mb-4">
            {% if request.GET.q %}
                <h1>Risultati per "{{ request.GET.q }}"</h1>
                <a href="{% url '' %}" class="btn btn-outline-danger">Annulla</a>
            {% else %}
                <h1>All recipes</h1>
            {% endif %}
            <form class="d-flex" method="GET" action="{% url 'recipe_search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        {% if recipes %}
        <div class="row row-cols-1 g-4">
            {% for recipe in recipes %}
                <div class="col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <div class="profile-picture-container d-flex justify-content-center align-items-center">
                                    <img src="{{ recipe.image.url }}" class="img-fluid rounded-start recipe-image" alt="{{ recipe.title }}">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">{{ recipe.title }}</h5>
                                        <button class="like-button" data-recipe-id="{{ recipe.id }}">
                                            {% if user in recipe.likes.all %}
                                                <i class="fas fa-heart liked"></i>
                                            {% else %}
                                                <i class="far fa-heart"></i>
                                            {% endif %}
                                        </button>
                                    </div>
                                    <p class="card-text">Tempo di preparazione: {{ recipe.preparation_time }} minuti</p>
                                    <h6>Descrizione:</h6>
                                    <p>{{ recipe.description }}</p>
                                    <h6 class="mt-4">Ingredienti:</h6>
                                    <p>{{ recipe.ingredients }}</p>
                                    <h6 class="mt-4">Preparazione:</h6>
                                    <p>{{ recipe.preparation }}</p>
                                    <div class="author-name d-flex align-items-center">
                                    <div style="transform: translateY(+5%); position: relative;">
                                        Autore: {{ recipe.user }}
                                    </div>
                                         <button class="follow-button btn btn-outline-primary ms-2" data-user-id="{{ recipe.user.id }}" data-author-id="{{ recipe.user.id }}">
                                            {% if request.user in recipe.user.followers.all %}
                                                <i class="fas fa-check"></i>
                                            {% else %}
                                                <i class="fas fa-plus" style="color: #f44336;"></i>
                                            {% endif %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="mt-4">Non hai ancora creato nessuna ricetta.</p>
        {% endif %}
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.like-button').forEach(button => {
            button.addEventListener('click', function() {
                const recipeId = this.getAttribute('data-recipe-id');
                const icon = this.querySelector('i');
                const isLiked = icon.classList.contains('liked');

                fetch(`/like-recipe/${recipeId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ liked: !isLiked })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        icon.classList.toggle('liked', !isLiked);
                        icon.classList.toggle('fas', !isLiked);
                        icon.classList.toggle('far', isLiked);
                    }
                });
            });
        });

        document.querySelectorAll('.follow-button').forEach(button => {
            button.addEventListener('click', function() {
                const userId = this.getAttribute('data-user-id');
                const authorId = this.getAttribute('data-author-id');
                const isFollowing = this.querySelector('i').classList.contains('fa-check');

                fetch(`/follow-user/${userId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.querySelectorAll(`.follow-button[data-author-id="${authorId}"]`).forEach(followButton => {
                            const icon = followButton.querySelector('i');
                            icon.classList.toggle('fa-check', !isFollowing);
                            icon.classList.toggle('fa-plus', isFollowing);
                        });
                    }
                });
            });
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}

{% block extra_css %}
/* Hero section */
.hero {
  background: url('https://www.cucchiaio.it/content/dam/cucchiaio/it/ricette/2022/10/pollo-agrodolce/pollo-agrodolce-finale.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero-h1 {
  font-size: 48px;
}

.hero-p {
  font-size: 24px;
}

.profile-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profile-form {
  max-width: 700px;
  width: 100%;
  padding: 20px 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

.profile-form h1 {
  margin-bottom: 20px;
}

.profile-form .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-form .profile-picture:hover {
  transform: scale(1.1);
}

.btn-primary, .btn-danger {
  margin-top: 20px;
}

.btn-light {
  margin-top: 20px;
  border: 1px solid black;
}

.card {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-class {
  display: flex;
  justify-content: center;
}

.profile-picture-container {
  height: 100%; /* Altezza massima per occupare tutto lo spazio disponibile */
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  /*align-items: center;  Centra verticalmente */
  margin-top:0px;
}
.recipe-image {
  width: 75%; /* Occupa tutta la larghezza disponibile */
  height: auto; /* Altezza fissa, puoi modificare il valore a tuo piacimento */
}
.like-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.like-button .fas.fa-heart {
  color: red;
}

.like-button .far.fa-heart {
  color: grey;
}

.like-button .fas.fa-heart,
.like-button .far.fa-heart {
  font-size: 24px; /* Assegna una dimensione alle icone */
  width: 24px;
  height: 24px;
  display: inline-block;
}

.follow-button {
    background: none;
    border: none;
    cursor: pointer;
}

.follow-button .fa-check {
    color: green;
}

.follow-button .fa-plus {
    color: blue;
}

.btn-outline-danger {
    margin-left: 20px;
}

.follow-button:hover {
    background-color: #e6e7e8; !important
}
{% endblock %}
